.menu-wrapper{
    background-color: rgb(249, 255, 251);
}
nav{
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #333;
    text-transform:capitalize;
    
}
.logo{
    text-transform:uppercase;
}
#navbar {
    padding: 20px;
    
  }